/emasa-test-ejb/nbproject/private/
/emasa-test-war/nbproject/private/
/nbproject/private/
/emasa-test-war/build/
/emasa-test-ejb/build/
/emasa-test-ejb/dist/
/build/
/emasa-test-war/dist/
/dist/